body{font-family: 'Fredoka One', cursive; color:aliceblue;background-image: url("file:///C:/Users/malaniakcj/Desktop/81675682-a-high-quality-horizontal-seamless-background-of-landscape-with-desert-and-cactus-sunset-on-a-backgr.jpg"); text-style:bolder;text-align: center;background-color:#cccccc ; background-size: 100% auto; background-repeat: no-repeat;
    font-size: 80px;
    color: #fff;
    text-align: center;
    animation: glow 1s ease-in-out infinite alternate;text-shadow: 0 0 20px #fff, 0 0 30px #ff4da6, 0 0 40px #ff4da6, 0 0 50px #ff4da6, 0 0 60px #ff4da6, 0 0 70px #ff4da6, 0 0 80px #ff4da6;text-shadow: 0 0 10px #fff, 0 0 20px #fff, 0 0 30px #e60073, 0 0 40px #e60073, 0 0 50px #e60073, 0 0 60px #e60073, 0 0 70px #e60073;}}
.launching{text-align: center;}
#buckle-up{background-image: url("file:///C:/Users/malaniakcj/Desktop/denayunebgt210600358.jpg");}
#goodbye{background-image: url("https://st4.depositphotos.com/1640243/31061/v/600/depositphotos_310616512-stock-illustration-spaceship-interior-view.jpg");}
#home{background-image: url("https://wallpapercave.com/wp/wp4910134.png");}
.idk{border: #cccccc;}
.happy{border:grey;}
#ticket{position: absolute;left: -50px;max-width:100%; height: auto;}
.deep{background-image: url("https://img.wallpapersafari.com/desktop/1280/1024/81/95/Z7D2q6.jpg");}