body{background-image: url("https://encrypted-tbn0.gstatic.com/images?q=tbn:ANd9GcTRXGB8bE4_9alJKEa12Qv7DYsVl63kqwqL9A&usqp=CAU"); background-repeat: no-repeat; background-size: cover; color: coral; font-family: 'Bubblegum Sans', cursive;
    font-family: 'Fredoka One', cursive; text-shadow: 2px 2px 5px red}
